body
{
    background-color: rgb(175, 175, 175);
}

.jumbotron
{
    background: url("../stock.jpg") center center / cover no-repeat;
    height: 400px;
    border-radius: 0px;
}

.bgcol
{
    background-color: black;
}